* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: #d9dcd6;
}
/* renamed to header.header */
header.main-header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* renamed to header.header h1*/
header.main-header h1 {
    display: inline-block;
    font-size: 48px;
}
/* renamed to header.header h1 .seo*/
header.main-header h1 .seo {
    color: #d9dcd6;
}
/* replaced .header div with .header nav */
header.main-header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* replaced .header div with .header nav */
header.main-header nav ul {
    list-style-type: none;
}
/* replaced .header div with .header nav */
header.main-header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
/* renamed to header.header nav ul li a */
header.main-header nav ul li a {
    color: #ffffff;
    text-decoration: none;
}
p {
    font-size: 16px;
}
/* added img.hero */
img.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
    /* added alt label for image */
    alt:"Digital Marketing Meeting";
}
/* renamed to section.contant */
section.contents {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* renamed img.float-left */
img.float-left {
    float: left;
    margin-right: 25px;
}
/* renamed img.float-right */
img.float-right {
    float: right;
    margin-left: 25px;
}
/* renamed to article.content to consolidate CSS*/
article.content {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* renamed to article.content img to consolidate CSS*/
article.content img {
    max-height: 200px;
}
/* renamed to article.content h2 to consolidate CSS*/
article.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* renamed to aside.benefits to consolidate CSS*/
aside.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* renamed to article.benefit to consolidate CSS*/
article.benefit {
    margin-bottom: 32px;
    color: #ffffff;
}
/* renamed to article.benefit h3 to consolidate CSS*/
article.benefit h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* renamed to article.benefit img to consolidate CSS*/
article.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* renamed to footer.footer */
footer.footer-content {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/* renamed to footer.footer h4 */
footer.footer-content h4 {
    font-size: 20px;
}
